@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,300;0,400;0,600;0,700;0,900;1,600;1,700&display=swap');

$font-light: 300;
$font-regular: 400;
$font-bold: 600;
$font-bolder: 700;
$font-extra-bold: 900;

$blue: rgba(42, 74, 140, 1);
$white: rgba(248, 248, 248, 1);
$light-gray: rgba(191, 191, 191, 1);
$gray: rgba(114, 114, 114, 1);
$black: rgba(38, 38, 38, 1);

$background: rgba(240, 240, 240, 0.85);

@mixin flex-d-a-j($direction, $align, $jusitfy) {
  display: flex;
  flex-direction: $direction;
  align-items: $align;
  justify-content: $jusitfy;
}

@mixin font-s-c-w($size, $color, $weight) {
  font-size: $size;
  color: $color;
  font-weight: $weight;
}

@keyframes paper {
  0% {
    height: 0%;
    opacity: 0;
  }
  100% {
    height: 100%;
    opacity: 1;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
button,
input {
  font-family: 'Titillium Web', sans-serif;
  font-weight: $font-regular;
  font-size: 16px;
  @media (max-width: 1024px) {
    font-size: 13px;
  }
  @media (max-width: 768px) {
    font-size: 12px;
  }
  @media (max-width: 500px) {
    font-size: 10px;
  }
}

a {
  text-decoration: none;
  color: $black;
}
