@import './base';

.editor {
  min-width: 800px;
  .container {
    &.a4 {
      .ql-container {
        .ql-editor {
          width: 8.27in;
          min-height: 11.69in;
        }
      }
    }
    &.letter {
      .ql-container {
        .ql-editor {
          width: 8.5in;
          min-height: 11in;
        }
      }
    }
    .ql-editor {
      padding: 1in;
      margin: 1rem;
      box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
      background-color: white;
      margin-top: 4rem;
    }
    .ql-container {
      &.ql-snow {
        border: none;
        display: flex;
        justify-content: center;
      }
    }
    .ql-toolbar {
      &.ql-snow {
        @include flex-d-a-j(row, none, center);
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        margin-left: auto;
        z-index: 1;
        background-color: $white;
        border: none;
        box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
      }
    }
  }
}

.button--menu,
.menu {
  background-color: $blue;
  position: fixed;
  top: 40%;
  left: 0px;
  border-radius: 0 5px 5px 0;
  padding-left: 1rem;
  @include flex-d-a-j(column, flex-start, center);
  @include font-s-c-w(1.1rem, $white, $font-regular);
}

.button--menu {
  width: 4rem;
  height: 7rem;
  cursor: pointer;
  transition: all 0.3s;
  &:hover {
    width: 4.5rem;
    .icon--rightarrow {
      width: 2.5rem;
    }
  }
  .icon--rightarrow {
    width: 2rem;
    height: 2rem;
    transition: all 0.3s;
  }
}
.menu {
  width: 19rem;
  height: 15rem;
  z-index: 10;
  transform: translateX(-100%);
  transition: all 0.3s;
  letter-spacing: 1.1px;
  &.active {
    transform: translateX(0%);
    p {
      width: 80%;
      text-align: left;
      &:first-child {
        font-size: 1.4rem;
        margin: 0.3rem 0;
        font-style: italic;
        letter-spacing: 2.5px;
      }
    }
  }
  .button--save {
    font-size: 0.9rem;
    margin-top: 0.2rem;
    background-color: rgb(17, 16, 77);
    padding: 0.4rem 0.8rem;
    letter-spacing: 2px;
    &.mg-top {
      margin-top: 1rem;
    }
  }
  .icon--leftarrow {
    transform: rotate(180deg);
    width: 1.8rem;
    position: absolute;
    top: 40%;
    left: 85%;
    cursor: pointer;
  }
}

@media print {
  body {
    background-color: none;
  }
  .editor {
    .container {
      .ql-container {
        .ql-editor {
          margin: 0.3rem;
        }
      }
      .ql-toolbar.ql-snow {
        display: none;
      }
    }
    button {
      display: none;
    }
  }
}

@page {
  margin: 11in;
}
