@import './card';
@import './create';
@import './editor';
@import './main';

.wrapper {
  width: 100%;
  min-height: 100vh;
  background-color: $background;
  @include flex-d-a-j(column, center, center);
  &--create {
    width: 90%;
    @include flex-d-a-j(row, center, center);
  }
  overflow-y: hidden;
}

.alert {
  padding: 0.4rem 2rem;
  border-radius: 10px;
  background-color: rgb(228, 101, 101);
  text-align: center;
  @include font-s-c-w(1.1rem, $white, $font-bold);
  visibility: visible;
  opacity: 1;
  transform: translateY(-20%);
  transition: all 0.4s;
  &--false {
    visibility: hidden;
    opacity: 0;
    transform: translateY(10%);
  }
}

button {
  background-color: $blue;
  border: none;
  border-radius: 7px;
  outline: 0;
  font-weight: $font-bold;
  @include font-s-c-w(1rem, $white, $font-bold);
  cursor: pointer;
  transition: all 0.3s;
  &:hover {
    opacity: 0.8;
    transform: translateY(-10%);
  }
}

.react-confirm-alert-button-group {
  button {
    background-color: $blue;
    font-size: 1.1rem;
    margin-right: 1.5rem;
  }
}

.react-confirm-alert-body {
  h1 {
    margin: 1rem 0;
  }
}
