@import './card';
@import './create';
@import './editor';
@import './main';

.wrapper {
  width: 100%;
  min-height: 100vh;
  background-color: $background;
  @include flex-d-a-j(column, center, center);
}

button {
  background-color: $blue;
  border: none;
  border-radius: 7px;
  outline: 0;
  font-weight: $font-bold;
  @include font-s-c-w(1rem, $white, $font-bold);
  cursor: pointer;
  transition: all 0.3s;
  &:hover {
    opacity: 0.8;
    transform: translateY(-10%);
  }
}
